@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

$fontFamily: "Poppins";

// Demo Colors
$demo-blue: #005ba6;
$demo-white: #f7f7f7;
$demo-invalid: #c7c7c7;
$demo-border: #e6e6e6;

$demo-fontSize: 1rem;
$border-width: 3px;